<div id="<%= dom_id entry %>" style="font-family: verdana;">
  <!-- Display name instead of number -->
  <p>
    <strong>Subject:</strong>
    <%= entry.subject_id %>
  </p>

  <!-- Display name instead of number -->
  <p>
    <strong>Category:</strong>
    <%= entry.category_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date.strftime("%m-%d-%Y") %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= entry.rating %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= entry.notes %>
  </p>

</div>
