<div id="<%= dom_id entry %>">
  <p>
    <strong>Subject:</strong>
    <%= entry.subject_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= entry.category_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= entry.rating %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= entry.notes %>
  </p>

</div>
