<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="font-family: verdana;">
    <p><%= form.label :subject_id %>: 
    <%= params[:subject_name] %></p>
    <%= form.hidden_field :subject_id, :readonly => true, :value => params[:subject_id] %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :category_id, style: "display: block" %>
    <%= form.number_field :category_id, :readonly => true, :value => params[:category_id] %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, :value => Time.now.strftime("%Y-%m-%d") %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :rating, style: "display: block" %>
    <%= form.range_field :rating, :min=>1, :max=>5, :class=>"slide", :id=>"slider1" %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div style="font-family: verdana;">
    <%= form.submit %>
  </div>
<% end %>
