<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="font-family: verdana;">
    <%= form.label :subject_id, "Subject Name:", style: "display: block"%> 
    <%= form.collection_select :subject_id, Subject.order(:name), :id, :name, include_blank: true %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :category_id, "Category Name:", style: "display: block" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, :value => entry.date.strftime("%Y-%m-%d") %>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :rating, class: "form-label" %>
    <p>1
    <%= form.range_field :rating, :class=>"form-range; col-5", :min=> 1, :max=> 5, :id=>"slider1", size: "50em" %>5</p>
  </div>

  <div style="font-family: verdana;">
    <%= form.label :notes, "Review:", style: "display: block" %>
    <%= form.text_area :notes,  size: "50emx10em" %>
  </div>

  <div style="font-family: verdana; margin-bottom: 6px">
    <%= form.submit class:"btn btn-success"%>
    <%= link_to "Cancel", :back, class:"btn btn-secondary", form: {style: 'display:inline-block;'} %>
  </div>
<% end %>
