<div class="container-lg">
<p style="color: green"><%= notice %></p>

<div class="container-lg">
<h1>All Entries</h1>
<p>
<%= link_to "New entry", new_entry_path %> |
<%= link_to "Back to subjects", subjects_path %> |
<%= link_to "Back to categories", categories_path %>
</p>
</div>

<div id="entries" class="container-lg d-grid gap-2">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>
</div>