<p style="color: green"><%= notice %></p>

<h1> <%= @entry.date.strftime("%m-%d-%Y")%> Entry</h1>
<%= render @entry %>

<!--
  # Subject displays name rather than number
  # Category displays name rather than number
  # Date display friendlier
  # Rating display different
  # Make purdy
-->

<div>
  <%= link_to "Edit this entry", edit_entry_path(@entry) %> |
  <%= link_to "Back to entries", entries_path %>

  
</div>
