<p style="color: green"><%= notice %></p>

<h1> <%= @entry.date.strftime("%m-%d-%Y")%> Entry</h1>
<!-- <%= render @entry %> -->

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @entry.subject_id %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @entry.date.strftime("%m-%d-%Y") %> | Rating: <%= @entry.rating %></h6>
      <!-- <p class="card-text"><%= @entry.category_id %></p> -->
      <p class="card-text"><%= @entry.notes %></p>
      
    </div>
  </div>
  

</div>

<!--
  # Subject displays name rather than number
  # Category displays name rather than number
  # Date display friendlier
  # Rating display different
  # Make purdy
-->

<div>
  <%= link_to "Edit this entry", edit_entry_path(@entry) %> |
  <%= link_to "Back to entries", entries_path %>

  
</div>
