<div id="<%= dom_id subject %>">
  <!-- <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= subject.category_id %>
    <i>Show category name instead</i>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= subject.average_rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subject.description %>
  </p> -->

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= subject.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Average Rating: <%= subject.average_rating %></h6>
      <p class="card-text"><%= subject.description %></p>
      <a href="#" class="card-link"><%= link_to "Show this subject", subject %></a>
    </div>
  </div>

</div>
