<div id="<%= dom_id subject %>">
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= subject.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Average Rating: <%= subject.average_rating %></h6>
      <p class="card-text"><%= subject.description %></p>
      <a href="#" class="card-link"><%= link_to "Show this subject", subject %></a>
    </div>
  </div>

</div>
