<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>
<div>
<p>
<%= link_to "New subject", new_subject_path %> |
<%= link_to "See all entries", entries_path %> |
<%= link_to "Back to categories", categories_path %>
</p>
</div>

<div id="subjects">
  <% @subjects.each do |subject| %>
    <%= render subject %>
  <% end %>
</div>
