<div class="container-lg">
  <p style="color: green"><%= notice %></p>

  <div class="container-lg" style="margin-bottom: 6px">
    <h1> <%= @subject.name%> Entries</h1>
    <%# Description %>
    <h3 class="card-subtitle mb-2 text-muted"> <%= @subject.description %> </h3>
    <%# Buttons %>
    <%= link_to "Edit this subject", edit_subject_path(@subject), class:"btn btn-warning", form: {style: 'display:inline-block;'} %>
    <%# <%= link_to "Add new entry", new_subject_entry_path, class:"btn btn-success", form: {style: 'display:inline-block;'} %>
    <%= link_to "Back to subjects", category_path(@subject.category_id), class:"btn btn-secondary", form: {style: 'display:inline-block;'} %>
  </div>
  
  <div class="container-lg d-grid gap-2">
    <% @subject.entries.each do |entry| %>
    <%= render entry %>
    <% end %>
  </div>
</div>