<p style="color: green"><%= notice %></p>


<% @subject.entries.each do |entry| %>
<%= render entry %>
<%= link_to "View this entry", entry_path(entry)%>
<% end %>

<!--
  # Calculate average rating from values in associated entries
  # Make Purdy
-->
<div>
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Add new entry", new_entry_path(params: {subject_id: @subject.id, category_id: @subject.category_id, subject_name: @subject.name}) %> |
  <%= link_to "Back to subjects", subjects_path %>

  <%= button_to "Destroy this subject", @subject, method: :delete %>
</div>
