<p style="color: green"><%= notice %></p>

<h1> <%= @subject.name%> Entries</h1>
<h3 class="card-subtitle mb-2 text-muted"> <%= @subject.description %> </h3>

<div>
<p>
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Add new entry", new_entry_path(params: {subject_id: @subject.id, category_id: @subject.category_id, subject_name: @subject.name}) %> |
  <%= link_to "Back to subjects", subjects_path %>
  </p>
</div>

<% @subject.entries.each do |entry| %>
<%= render entry %>
<% end %>

<!--
  # Calculate average rating from values in associated entries
  # Make Purdy
-->
