<p style="color: green"><%= notice %></p>

<%= render @category.subjects %>
<%= link_to "View this subject", subject_path%>

<!-- 
  # Display all subjects that are tied to this category
  # Make purdy
 -->

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
