<div class="container">

<p style="color: green"><%= notice %></p>

<h1> <%= @category.name%> Subjects</h1>

<div>
<p>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Add new subject", new_subject_path(params: {category_id: @category.id, category_name: @category.name}) %> |
  <%= link_to "Back to categories", categories_path %>
  </p>
</div>

<div class="d-grid gap-2">
<% @category.subjects.each do |subject| %>
<%= render subject %>
<% end %>
</div>
</div>
<!-- 
    # Make purdy
 -->

