
<div class="container-lg">
  <p style="color: green"><%= notice %></p>

  <div class="container-lg", style="margin-bottom: 6px">
    <h1> <%= @category.name%> Subjects</h1>
    <%= link_to "Edit this category", edit_category_path(@category), class:"btn btn-warning", form: {style: 'display:inline-block;'} %>
    <%= link_to "Add new subject", new_subject_path(params: {category_id: @category.id, category_name: @category.name}), class:"btn btn-success", form: {style: 'display:inline-block;'} %>
    <%= link_to "Back to categories", categories_path, class:"btn btn-secondary", form: {style: 'display:inline-block;'} %>
  </div>

  <div class="container-lg d-grid gap-2">
    <% @category.subjects.each do |subject| %>
    <%= render subject %>
    <% end %>
  </div>
</div>

